/* splash.html */

body {
    background-color: #00BFFF;
    padding-top: 0;
}

.albumsH1 {
    position: absolute;
    padding: 5%;
    color: white;
    display: flex;
    margin: 0%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navbar {
  position: sticky;
}

.row {

    margin: 2%;
}

.col {
    padding: 1%;
}

/* albums.html */

.form-container {
    position: relative;
    margin: 5%;
}

.track-list {
    position: relative;
    margin: 5%;
}
