<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums </title>
</head>
<body>
    <h1 th:text="${title}">ALBUM TITLE HERE</h1>
    <p th:text="${artist}">ARTIST HERE</p>
    <p th:text="${songCount}">SONGCOUNT HERE</p>
    <p th:text="${length}">LENGTH HERE</p>
    <img src="/static/images/Sadnecessary.jpg" alt="album image" />
</body>
</html>