<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Albums</h1>

<!--stores come from our controller. GET method -->
<ul th:each="albumShelf : ${shelves}">
<!--notice the string we create within thymeleaf-->
    <li th:text="'Shelf name ' + ${albumShelf.name}">shelf name</li>
    <li th:text="'Average time on album ' + ${albumShelf.averageTimeOnAlbum}"></li>
<!--    &lt;!&ndash; ADDS SMALL FORM TO INCORPORATE DELETE BUTTON FOR EACH STORE &ndash;&gt;-->
<!--    &lt;!&ndash; NOTE: the albumShelf's id is concatenated to the end of the path to be unique for each... it is accessed in the controller via path variable &ndash;&gt;-->
<!--    <form th:action="'/shelves/delete/' + ${albumShelf.id}" th:method="delete">-->
<!--        <input type="submit" value="Delete Shelf">-->
<!--    </form>-->
</ul>

<!--return a single store from a GET method&ndash-->
<!--<li th:text="${shelfName}">shelf name</li>-->
<!--<li th:text="${shelfSales}">shelf sales</li>-->

<!--form to create new stores. post action-->
<form action="/album-shelf/" method="POST">
    <fieldset>
        <legend>Add Album Shelf</legend>
        <label>Shelf Name</label>
        <input type="text" name="shelfName">
        <label>Average time on album</label>
        <input type="text" name="averageSoldPerDay">
        <input type="submit" value="Add Shelf">
    </fieldset>
</form>

</body>
</html>